@model IEnumerable<FinalTest.Models.Employee>

@{
    ViewBag.Title = "Index";
}


<h2>
    Employees

    <input type="button" class="btn btn-primary pull-right" value="Create New" data-toggle="modal" data-target="#createModal" />
</h2>
<br />
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Address)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PhoneNumber)
            </td>
            <td>
                <input type="button" class="btn btn-info" id="detailEmployee" value="Detail" onclick="employeeDetails(@item.ID,1)" />
                <input type="button" class="btn btn-primary" value="Edit" onclick="employeeDetails(@item.ID,0)" />
                <input type="button" class="btn btn-danger" value="Delete" onclick="employeeDelete(@item.ID)" />
            </td>
        </tr>
    }

</table>


<!---- Create Modal------->
<div class="modal" id="createModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Add Employee</h4>
            </div>
            <form class="modal-body form-group" id="newEmployee">
                <div class="row">
                    <label class="col-lg-4">
                        Name :
                    </label>
                    <input type="text" id="newName" class="form-control col-lg-8" />
                </div>
                <br />
                <div class="row">
                    <label class="col-lg-4">
                        Address :
                    </label>
                    <input type="text" id="newAddress" class="form-control col-lg-8" />
                </div>
                <br />
                <div class="row">
                    <label class="col-lg-4">
                        Phone Number :
                    </label>
                    <input type="text" id="newPhn" class="form-control col-lg-8" />
                </div>
            </form>
            <div class="modal-footer">
                <button type="button" id="createNew" class="btn btn-group-justified btn-success">Add</button>
            </div>
        </div>
    </div>
</div>

<!---- Detail Modal------->
<div class="modal" id="detailModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Employee Details</h4>
            </div>
            <form class="modal-body form-group" id="employeeDetails">
                <div class="row">
                    <label class="col-lg-4">
                        Name :
                    </label>
                    <label id="empName" class="col-lg-8"></label>
                </div>
                <br />
                <div class="row">
                    <label class="col-lg-4">
                        Address :
                    </label>
                    <label id="empAddress" class="col-lg-8"></label>
                </div>
                <br />
                <div class="row">
                    <label class="col-lg-4">
                        Phone Number :
                    </label>
                    <label id="empPhn" class="col-lg-8"></label>
                </div>
            </form>
            <div class="modal-footer">
                <button type="button" id="close" class="btn btn-group-justified btn-success" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<!---- Edit Modal------->
<div class="modal" id="editModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Edit Employee</h4>
            </div>
            <form class="modal-body form-group">
                <div class="row">
                    <label class="col-lg-4">
                        Name :
                    </label>
                    <input type="text" id="editName" class="form-control col-lg-8" />
                </div>
                <br />
                <div class="row">
                    <label class="col-lg-4">
                        Address :
                    </label>
                    <input type="text" id="editAddress" class="form-control col-lg-8" />
                </div>
                <br />
                <div class="row">
                    <label class="col-lg-4">
                        Phone Number :
                    </label>
                    <input type="text" id="editPhn" class="form-control col-lg-8" />
                </div>
                <input type="hidden" name="editEmpId" id="editEmpId" value="" />
            </form>
            <div class="modal-footer">
                <div class="row">
                    <div class="col-xs-6 text-left">
                        <button type="button" id="editNo" class="btn btn-group-justified btn-info " data-dismiss="modal">Cancel</button>
                    </div>
                    <div class="col-xs-6 text-right">
                        <button type="button" id="updateYes" class="btn btn-group-justified btn-danger col-xs-6 text-right">Update</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!---- Delete Modal------->
<div class="modal" id="deleteModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Delete Employee</h4>
            </div>
            <div class="modal-body form-group">
                Are you sure you want to delete this employee ?
                <input type="hidden" name="empId" id="empId" value="" />
            </div>

            <div class="modal-footer">
                <div class="row">
                    <div class="col-xs-6 text-left">
                        <button type="button" id="deleteNo" class="btn btn-group-justified btn-info " data-dismiss="modal">No</button>
                    </div>
                    <div class="col-xs-6 text-right">
                        <button type="button" id="deleteYes" class="btn btn-group-justified btn-danger col-xs-6 text-right">Yes</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script src="Scripts/jquery-1.10.2.min.js"></script>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {

        //add employee
        $("#createNew").click(function () {
            var urlToCall = "/Employee/Create";
            var emp = {};
            emp.Name = $("#newName").val();
            emp.Address = $("#newAddress").val();
            emp.PhoneNumber = $("#newPhn").val();
            $.ajax({
                url: urlToCall,
                data: JSON.stringify(emp),
                dataType: 'json',
                type: 'POST',
                contentType: 'application/json',
                success: function (data) {
                    $('#createModal').modal('hide');
                    $("#newName").val("");
                    $("#newAddress").val("");
                    $("#newPhn").val("");
                    swal("Good job!", "Added Successfully!", "success");
                },
                error: function (data, status, jqXHR) {
                    swal('There was an error.');
                }
            });

            setTimeout(function () { window.location.reload(); }, 2000);
            
        });

        //delete employeee
        $("#deleteYes").click(function () {
            var id = $('#empId').val();
            var urlToCall = "/Employee/Delete/" + id;
            $.ajax({
                url: urlToCall,
                type: 'POST',
                contentType: 'application/json',
                success: function (data) {
                    $('#deleteModal').modal('hide');
                    swal("Good job!", "Deleted Successfully!", "success");
                    
                    setTimeout(function () { window.location.reload(); }, 2000);
                },
                error: function (data, status, jqXHR) {
                    swal('There was an error.');
                }
            });            
        });

        //edit employeee
        $("#updateYes").click(function () {
            var emp = {};
            emp.ID = $('#editEmpId').val();
            emp.Name = $("#editName").val();
            emp.Address = $("#editAddress").val();
            emp.PhoneNumber = $("#editPhn").val();
            var urlToCall = "/Employee/Update";
            $.ajax({
                url: urlToCall,
                type: 'POST',
                data: JSON.stringify(emp),
                dataType: 'json',
                contentType: 'application/json',
                success: function (data) {
                    $('#editModal').modal('hide');
                    swal("Good job!", "Updated Successfully!", "success");

                    setTimeout(function () { window.location.reload(); }, 2000);
                },
                error: function (data, status, jqXHR) {
                    swal('There was an error.');
                }
            });
        });

    });

    //fetch details of employee from database
    function employeeDetails(id, display) {
        var urlToCall = "/Employee/Detail/" + id;
        $.ajax({
            url: urlToCall,
            type: 'GET',
            contentType: 'application/json',
            success: function (data) {
                if (display === 1) {
                    $('#detailModal').modal('show');
                    $("#empName").text(data.Name);
                    $("#empAddress").text(data.Address);
                    $("#empPhn").text(data.PhoneNumber);
                }
                else if (display === 0) {
                    $('#editModal').modal('show');
                    $("#editName").val(data.Name);
                    $("#editAddress").val(data.Address);
                    $("#editPhn").val(data.PhoneNumber);
                    $('#editEmpId').val(id);
                }
            },
            error: function (data, status, jqXHR) {
                swal('There was an error.');
            }
        });
    }

    //open delete modal
    function employeeDelete(id) {
        $('#empId').val(id);
        $('#deleteModal').modal('show');
    }
</script>
